@import "../../assets/styles/index";

// Card settings
$card-padding: 16px;

.widgetCard {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: hidden;

  /* shadow */
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);

  border-radius: 16px;
  color: rgba($color-white, 0.8);
  background-color: $color-gray;

  font-family: $main-font-family;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
  }
}

.closeBtn {
  position: absolute;
  top: $card-padding;
  right: $card-padding;
}

.title {
  & + .mainContent {
    margin-bottom: 4px;
  }
}

.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mainContentItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.left {
  align-items: flex-start;
  text-align: left;
}

.right {
  align-items: flex-end;
  text-align: right;
}

.chart {

}

.mainIndicator {
  color: $color-white;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

.secondIndicator {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: $color-white;

}

.secondIndicator {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: $color-white;
}

.secondIndicatorSmall {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: $color-white;
  white-space: nowrap;
}

// Colors
.yellow {
  background: $gradient-3;
}
.green {
  background: $gradient-4;
}
.red {
  background: $gradient-5;
}
.purple {
  background: $gradient-7;
}
.blue {
  background: $gradient-8;
}
