// Card settings
$card-padding: 16px;

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  margin-bottom: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  & + .mainContent {
    margin-bottom: 4px;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  height: 100%;
  padding: $card-padding;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mainContentItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.left {
  align-items: flex-start;
  text-align: left;
}

.right {
  align-items: flex-end;
  text-align: right;
}

.mainIndicator {
  color: $color-white;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  fill: $color-white;
}

.secondIndicator {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: $color-white;
  fill: $color-white;
}

.chart.pie {
  height: 50%;
  margin: 0;
}

@include respond-to(sm) {
  .chart.pie {
    height: 100%;
    // height: 165px;
    // width: 100%;
    margin: 0 auto;
  }
}

@include respond-to(xxxl) {
  .contentWrapper {
    padding: 24px;
  }
  .chart.pie {
    height: auto;
    width: 80%;
  }
  .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    margin-bottom: 8px;
  }
}

// Colors
.gray {
  .title {
    color: rgba($color-black, 0.8);
  }
  .secondIndicator,
  .mainIndicator {
    color: $color-black;
    fill: rgba($color-black, 0.8);;
  }
  background-color: $color-gray;
}