
.inputWrapper {
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid $color-gray-2;
  width: 100%;
  position: relative;
}

.input,
.input input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  padding: 0;
}

.input input:-webkit-autofill,
.input input:-webkit-autofill:hover,
.input input:-webkit-autofill:focus,
.input input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $color-gray inset !important;
}

.label {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-gray-dark-4;
}

.label + input {
  margin-top: 4px;
}

.caption {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: currentColor;
  position: absolute;
  top: 100%;
  left: 0;
}

.button svg path {
  fill: currentColor;
}

.prepend {
  display: flex;
}

.append {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.button .prepend + span {
  margin-left: 8px;
}

// Type
.outline {
  border: 1px solid currentColor;
}

// Colors
.purple {
  color: $color-purple;
  .input input,
  svg path,
  .input input::placeholder {
    color: $color-purple;
    fill: $color-purple;
  }
}

.gray {
  color: $color-gray;
  border-color: rgba($color-gray-dark, 0.6);
  .input input,
  svg path {
    color: $color-black;
    fill: $color-gray-dark;
  }
  .input input::placeholder {
    color: $color-gray-dark-3;

    // color: rgba($color-gray-dark, 0.4);
  }
}

.dirty {
  svg path {
    fill: $color-purple;
  }
}

.error {
  .caption {
    color: $color-red;
  }
}

// Size
.outline.round.XS {
  font-size: 12px;
  line-height: 16px;
  padding: 7px 11px;
  border-radius: 16px;
}

.S {
  font-size: 12px;
  line-height: 14px;
  padding: 8px 12px;
}

.outline.S {
  padding: 6px 10px;
  border-radius: 12px;
}

.M {
  font-size: 12px;
  line-height: 16px;
  padding: 12px 30px;
  border-radius: 16px;
}

.L {
  font-size: 14px;
  line-height: 24px;
  padding: 12px 16px;
  border-radius: 12px;
}

.XL {
  .input input {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    &:-webkit-autofill::first-line,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
    }
  }
  .input input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  padding: 0 0 16px 0;
  border-radius: 0;
}

.shadow {
  box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05),
    0px 6px 16px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
}
