@import "../../assets/styles/index";

.link {
  cursor: pointer;
  transition: all $main-transition;
  a {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: currentColor;
    text-decoration: none;
    .prepend + span {
      margin-left: 8px;
    }
    span + .append {
      margin-left: 4px;
    }
  }
}

.link svg path{
  fill: currentColor;
}

.append,
.prepend {
  display: flex;
}

// Colors
.purple {
  color: $color-purple;
  &:visited {
    color: $color-purple;
  }
  &:hover {
    color: $color-purple-light;
  }
  &:active {
    color: $color-purple-dark-2;
  }
}

// Size
.M {
  font-size: 14px;
  line-height: 24px;
}

.bold {
  font-weight: 700;
}